{% extends "base.html" %}

{% block title %}

<title>css</title>  
{% endblock title %}

{% block content %}


<h1 class="main-hading">Color Properties</h1>

<br>
<h2 class="border">Border width style color Properties</h2>

<br>
<h2 class="outline">Out line Properties width style Color</h2>
<br>
<h2 class="padding">
    Padding Properties
</h2>
<br>
<h2 class="margin">
    Margin Properties

</h2>


<br>

<div id="width">
    <h1>Width and hight Properties</h1>
</div>

<div id="min_max_hight">
    <h2>Hight Properties</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum iste accusantium dignissimos, id explicabo consequatur minima fugit sunt repellendus quisquam maiores dolorem quae est harum exercitationem. Fugit, consectetur suscipit!</p>
</div>



  
{% endblock content %}