{% extends "base.html" %}

{% block title %}
<title>home</title>  
{% endblock title %}


{% block content %}
<div id="sidebar">
    <h1>This is side bar</h1>
    
</div>
<div class="main_page">
    <h1>
        Lorem ipsum, dolor
         sit amet consectetur adipisicin
         g elit. Delectus vel assumenda vit
         ae blanditiis, adipisci amet? Et, 
         molestiae illum nihil repellat ad 
         voluptatum ea, suscipit pariatur
          aliquam, possimus reiciendis a excep
          turi libero cum ut veritatis commodi
           aut enim minima! Perspiciatis quam culp
           a tempora obcaecati adipisci animi ipsum
            laborum minus nesciunt, reprehenderit d
            olorum vero? Similique totam eum molestias volu
            ptates distinctio facere nisi pariatur. 
            Enim ab pariatur ratione ipsum voluptates, volu
            ptas, cumque facilis consectet
            ur voluptatibus iusto veritatis unde? 
            Optio necessitatibus molestiae dol
            orem, quos vel expedita sapiente! Vel
            , quia suscipit? Omnis iure consecte
            tur libero! Recusandae corrupti quam si
            t aut, dignissimos magni architec
            to corporis voluptatem!
    </h1>
</div>
  
{% endblock content %}

